.button {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
  padding: 20px 0;
}
.button__shuffle,
.button__like {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 100px;
  text-decoration: none;
}
.button__shuffle {
  width: 110px;
  color: rgb(231, 231, 231);
  background-color: #000;
  letter-spacing: 2px;
}

.button__like {
  color: #333;
  font-size: 16px;
}
.button__like div span {
  margin-left: 5px;
}
.button__like:active {
  color: red;
}
