.music, .music__playing {
  margin: 0 8px;
  padding: 13px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  
}
.music__playing{
  border-radius: 10px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  
}
.music__cover {
  width: 45px;
  border-radius: 10px;
}
.music__info {
  width: 200px;
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.music__info__musician {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 4px;
}
.music__info__title {
  font-size: 16px;
  color: #333;
}
.music a {
  color: rgba(0, 0, 0, 0.4);
}

.music__playing-icon {
  position: relative;
}
.music__playing-icon img {
  display: block;
}
.music__playing-icon a {
  position: absolute;
  color: #fff;
  bottom: 11px;
  left: 12px;
}
.music-list {
  height: 370px;

  overflow: hidden;
  overflow-y: scroll;
}
.music-list::-webkit-scrollbar {
  display: none;
}
